@import "./utils/colors";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./components/body";
@import "./components/header";
@import "./components/footer";
@import "./components/mainsec";

body {
    font-family: 'DM Sans', sans-serif;
  }


  @media (max-width: 768px) {
    .header {
      padding: 20px 16px; 
    }
    
    .products {
      padding: 40px 16px;
    }
    
    .footer {
      padding: 40px 16px;
    }
  }
