.footer {
    background-color: $white;
    padding: 40px 96px;
    margin-top: 200px;
  }

  .footer__linia {
    margin-left: 96px;
    width: 1248px;
    height: 1px;
    color: $black;
    margin: 0 auto;
  }
  
  .footer__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 2px solid $light-grau;
  }
  
  .footer__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 16px;
    color: $grau;
  }
  
  .footer__nav {
    display: flex;
    gap: 41px;
    flex-wrap: wrap;
  }
  
  .footer__info-in {
    font-size: 16px;
    color: $grau;
  }
  
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
  }
  
  .footer__links-top {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid $black;
    padding-bottom: 4px;
  }
  
  .footer__links-text {
    margin-right: 127px;
    font-size: 16px;
    color: $grau;
    cursor: pointer;
  }
  
  .footer__socials {
    display: flex;
    gap: 30px;
    cursor: pointer;
  }

  .footer__info-text {
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .footer__info-text:hover {
    color: $gold;
    transform: translateY(-5px);
  }



  @media (max-width: 768px) {
    .footer {
      padding: 18px 18px;
      margin-top: 80px;
      
      &__linia {
        display: none;
      }
      
      &__box {
        flex-direction: column;
        border-top: none;
      }
      
      &__info {
        order: 2;
        gap: 18px;
      }
      
      &__nav {
        flex-direction: column;
        gap: 16px;
      }
      
      &__links {
        order: 1;
        align-items: flex-start;
        gap: 18px;
      }
      
      &__links-text {
        margin-right: 0;
      }
      
      &__socials {
        gap: 18px;
      }
    }
  }